@import './variables.scss';
.background-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: #6f6f6f91;
    overflow: hidden;
    .card-dialog{
      background: #fff;
      border-radius: 5px;
      max-width: 700px;
      width: 100%;
      @include md{
        width: 90%;
      }
      .background-pokemon {
        min-height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: url(./../assets/images/background-pokemon.png) no-repeat center;
        background-size: cover;
        border-radius: 5px 5px 0 0;
        position: relative;
        @include md{
            min-height: auto;
        }
        .image-pokemon {
          max-height: 250px;
        }
        .close-btn{
            position: absolute;
            top: 10px;
            cursor: pointer;
            right: 10px;
            padding: 10px;
            line-height: 10px;
            text-align: center;
            border-radius: 50%;
            font-weight: bold;
            font-size: 1rem;
            font-family: Arial, Helvetica, sans-serif;
            background: $white-color;
            color: blue;
        }
      }
      .options-character{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid #E8E8E8;
        color: $secondary-text;
        font-family: $lato-regular;
      }
      #textToCopy{
        color: $primary-red;
        font-family: $lato-regular;
      }
      #copyText{
        border: 0;
        outline: transparent;
        color: transparent;
        position: absolute;
        &::selection{
          color: transparent;
          background-color: transparent;
        }
      }
      .container-share{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          .share{
              @include buttons;
          }
      }
    }
  }